# Node modules directory
node_modules/

# Tailwind CSS output files (if you are using a build process)
public/styles.css

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Tailwind configuration
tailwind.config.js
